@charset "utf-8";
/* CSS Document */
body {
	text-align: center;
	background-color: #C56466;  
}

a {
	padding: 15px;
margin: 3px;
	font-size: 125%;
	background-color:  #888484; 
	color:  #4D4B4B; 
}









.choices{ cursor: pointer;
}





a:hover {
	font-size:200%;
	background-color: #F8F2F2; 
	color: #F02528; 
}
