@charset "utf-8";
/* CSS Document */
body 
{background-color: #D45f61}

#wrapper{
	width:900px;
	margin:0 auto;
	text-align: center;
	background-color: #D45F61;
	
}


#img/Monterey_County-Wine-Country-2.jpg{
border: black 5px solid;

}

#img/Chardonnay grapes.jpg{
	display:none;
	border: black 5px solid;
}
{
	text-align: center;
	background-color: #D45f61;  
}









.choices{ cursor: pointer;
}





a:hover {
	font-size:200%;
	background-color: #F8F2F2; 
	color: #F02528; 
}
